@media only screen and (min-width: 1320px) {
  #front-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(12,1fr);
  }
  #portfolio-image {
    opacity: 0.95;
    height: 100%;
    width: 100%;
    grid-row: 1/13;
    grid-column: 1/2;
  }
  #personal-information {
    padding-left: 30px;
    background-image: url(images/blackwallpaper.jpg);
    grid-row: 1/12;
    grid-column: 2/3;
    color: white;
  }
}

body {
  background-image: url(images/blackwallpaper.jpg);
  font-family: 'Secular One', sans-serif;
}
#front-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(9,1fr);
}
#portfolio-image {
  height: 100%;
  max-width: 100%;
  grid-row: 1/10;
  grid-column: 1/2;
  filter: grayscale(50%);
  transition: 1s ease-in;
}
#portfolio-image:hover {
  filter: none;
}
#stick-gif {
  height: 80px;
  width: 60px;
  padding-left: 50px;
  filter: contrast(100%);
}


#personal-information {
  padding-left: 30px;
  background-image: url(images/blackwallpaper.jpg);
  grid-row: 1/9;
  grid-column: 2/3;
  color: white;
}

#intro-message {
  font-size: 25px;
}
#myname {
  font-size: 35px;
  color: #23A6D5;
}
#job-title {
  font-size: 25px;
}
#contact-information {
  font-size: 20px;
}
#navbar {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  filter: opacity(70%);
}
.navbar-headings {
  transition: 0.5s ease-in;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 35px;
}
.navbar-headings:hover {
  background-color: #23D5AB;
  cursor: pointer;
  filter: none;
}
#home-info:hover {
  background-color: #EE7752;
  filter: none;
}
#about-info:hover {
  background-color: #E73C7E;
  filter: none;
}
#education-info:hover {
  background-color: #9400D3;
  filter: none;
}

th {
  text-align: left;
}
#about-information {
  font-size: 25px;
  display: grid;
  background-image: url(images/blackwallpaper.jpg);
  color: white;
  text-align: center;
  padding-bottom: 18px;
}
.about-header {
  font-size: 30px;
}
#education-information {
  font-size: 25px;
  display: grid;
  background-image: url(images/blackwallpaper.jpg);
  color: white;
  text-align: center;
  padding-bottom: 18px;
}
#background {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-image: url(images/blackwallpaper.jpg);
  width: 100%;
  height: 187px;
}

#clients {
background-image: url(images/blackwallpaper.jpg);
display: block;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap {
display: block;
max-width: 95%;
margin: 0 auto;
overflow: hidden;
}
#clients .clients-wrap ul {
display: block;
list-style: none;
position: relative;
margin-left: auto;
margin-right: auto;
}
#clients .clients-wrap ul li {
display: block;
float: left;
position: relative;
max-width: 220px;
height: 100px;
line-height: 0px;
text-align: center;
}
#clients .clients-wrap ul li img {
vertical-align: middle;
max-width: 100%;
max-height: 100%;
-webkit-transition: 0 linear left;
-moz-transition: 0 linear left;
transition: 0 linear left;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
filter: alpha(opacity=65);
opacity: 0.65;
}
#clients .clients-wrap ul li img:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1.0;
}
#projects {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}
#view {
  color: white;
  font-size: 12px;
  text-align: center;
}
.social-media {
  height: 50px;
  width: 50px;
}
